* { box-sizing: border-box; }
body {
	font-family: 'Archivo Narrow', sans-serif;
	background-color: #0D0F1F;
}

/*
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Merriweather', serif;
*/

.bg-image {
 /*  background: linear-gradient(#0b2e4d , #0d0f1f 30%);*/
	width: 100vw;
	height: 100vh;
}
h1 {
	font-size: 2em;
	font-weight: 400;
}
nav {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0, .4);
	color: #E5E5E5;
	border-bottom: solid 2px #ED4C67;
}
ul {
	display: flex;
	align-items: center;
}
a {
	color: #87434C;
	text-decoration: none;
}
.active {
	color: #dedede;
}
.btn {
	background-color: #ED4C67;
	border: none;
	border-radius: 5px;
	padding: 5px;
	height: 30px;
	color: #fff;
}
.links {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.links li {
	margin: 0 10px;
}
.links img {
	width: 30px;
	height: 30px;
	color: #818181;
}
.links ul li:first-child img {
	width: 26px;
	height: 26px;
}
.pages {
	margin: 10px;
}
.pages ul {
	display: flex;
	justify-content: space-around;
	margin-right: 60%;
}
.pages li {
	font-family: 'Merriweather', serif;
	color: #87434C;
}
/*-----------------------------------------------------------*/
/*#######     WEB DEV + Front End - skills list     #########*/
/*-----------------------------------------------------------*/
main {
	display: flex;
	justify-content: center;
	align-items: center;
}
main h2 {
	text-align: center;
	font-weight: 700;
}
div.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 4% 0 0 0;
	padding: 50px 0;
	background-color: rgba(25,41,89, .4);
	background: linear-gradient(0deg, rgba(2,0,36,0.6) 0%, rgba(26,37,92,0.6) 35%, rgba(17,102,97,0.6) 100%);
	border-radius: 10px;
}
section {
	margin: 0 5%;
}
main p {
	width: 60%;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	font-size: 2rem;
	color: #fef6f7;
	margin: 0.25em 0;
}
.highlight {
	color: #ed4c67;
}
.grey {
	color: #818181;
}
.center {
	text-align: center;
}
.skills-list {
	/*position: relative;
	top: 12%;
	left: 12%;*/
	display: flex;
	flex-direction: column;
	color: #818181;
}
h2 {
	font-size: 3em;
	color: #ED4C67;
	letter-spacing: 0.375em;
	line-height: 1.5em;
}
h3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 2.0em;
	color: #fff;
}
.skills-list ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.5em;
}
.wrapper img {
	width: 400px;
	border: solid 2px #ED4C67;
	/*border-radius: 5px;*/
	border-left: none;
	border-right: none;
}



/*-----------------------------------------------------------*/
/*#######              WORK grid layout             #########*/
/*-----------------------------------------------------------*/
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5% 0;
}
.card-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
}
.card {
	border-radius: 8px;
	background-color: #24273D;
	width: 340px;
	height: 360px;
	margin: 10px 0;
	padding: 10px;
	/*word-wrap: break-word;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.card h3 {
	color: orange;
}
.card img {
	border: orange;
	border-radius: 8px;
}
.card p {
	color: orange;
}




