* { box-sizing: border-box; }
body {
	font-family: Archivo Narrow, sans-serif;
	background-color: #0D0F1F;
}
.bg-image {
	background-image: url("img/you-are-here-hd-edit.jpg");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 80% 60%;
	width: 100vw;
	height: 100vh;
}
h1 {
	font-size: 2em;
}
nav {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0, .4);
	color: #E5E5E5;
	border-bottom: solid 2px #ED4C67;
}
ul {
	display: flex;
	align-items: center;
}
a {
	color: #E5E5E5;
	text-decoration: none;
}
.btn {
	background-color: #ED4C67;
	border: none;
	border-radius: 5px;
	padding: 5px;
	height: 30px;
	color: #fff;
}
.links {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.links li {
	margin: 0 10px;
}
.links img {
	width: 30px;
	height: 30px;
	color: #818181;
}
.links ul li:first-child img {
	width: 26px;
	height: 26px;
}
.pages {
	margin: 10px;
}
.pages ul {
	display: flex;
	justify-content: space-around;
	margin-right: 60%;
}
/*-----------------------------------------------------------*/
/*#######     WEB DEV + Front End - skills list     #########*/
/*-----------------------------------------------------------*/

div.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 10% 0 0 0;
}
section {
	margin: 0 5%;
}
.skills-list {
	/*position: relative;
	top: 12%;
	left: 12%;*/
	display: flex;
	flex-direction: column;
	color: #818181;
}
h2 {
	font-size: 3em;
	color: #ED4C67;
	letter-spacing: 0.375em;
	line-height: 1.5em;
}
h3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 2.0em;
	color: #fff;
}
.skills-list ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.5em;
}
.wrapper img {
	width: 400px;
	border: solid 1px #ED4C67;
	/*border-radius: 5px;*/
	border-left: none;
	border-right: none;
}



/*-----------------------------------------------------------*/
/*#######              WORK grid layout             #########*/
/*-----------------------------------------------------------*/
main {
	display: flex;
	justify-content: center;
}
.card-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	margin: 5% 0;
}
.card {
	border-radius: 8px;
	background-color: #24273D;
	width: 340px;
	height: 360px;
	margin: 10px 0;
	padding: 10px;
	/*word-wrap: break-word;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.card h3 {
	color: orange;
}
.card img {
	border: orange;
	border-radius: 8px;
}
.card p {
	color: orange;
}




